<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="style.css">
<head>
  <title>Dance</title>
  <link rel="icon" href="RF-F.svg" type="image/svg+xml">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="aes.js"></script>
  <script src="password.js"></script>
  <script src="data.js"></script>
</head>
<body>
  <div id="app">
    <div class="header">  
      <label for="filterInput">Filter</label>
      <input type="text" id="filterInput" name="filterInput" v-model="searchText" ><br><br>
    </div>
	<div class="content">
	<details v-for="item in filteredItems">
	  <summary>
	    <div><h1 class="summary"><object :data="item.feet" type="image/svg+xml"></object>{{ item.head.title }}</div></h1>
		<h2>{{ item.head.sub }}</h2>
	  </summary>
	  <div>
		<div v-for="tip in item.tips" class="tip">
		  <div>{{tip.title}}<span v-if="tip.title != ''">:</span></div><div>{{tip.text}}</div>
		  <div v-if="tip.url != undefined && !tip.url.startsWith('http')"><a :href="baseurl + tip.url"> Film</a></div>
		  <div v-if="tip.url != undefined && tip.url.startsWith('http')"><a :href="tip.url"> Film</a></div>
		</div>
	  </div> 
	</details>
	
	</div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data() {
	    let searchText = localStorage.getItem("searchText");
	    if (!searchText) {
			searchText = '';
		}
        return {
		  searchText: searchText,
		  encryptedUrl: "MTAwMDAwMA==.iGdZ469RL7g6m24fkyQzNEvjM0VVQQg353KcvkhpZTQ=.BrulzarL6HUUc2+Z.h+lIlUoMcXqMEdMgdtgjzUacvZKRq709YvWB/rbKmbildTq6Z0sGyIrHe56zi1nW6Z3gb/6FOw==",
		  baseurl: '', 
          items: data
        };
      },
	  mounted() {
	    this.fetchUrl();
	  },
	  computed: {
	    filteredItems() {
		  const searchText = this.searchText.toLowerCase();
		  localStorage.setItem("searchText", searchText);
		  return this.items.filter(item => 
		  {
			return item.head.title.toLowerCase().includes(searchText)
					|| item.head.sub.toLowerCase().includes(searchText)
		  });
		}
	  },
	  methods: {
		async fetchUrl() {
			try {
              const url = new URL(window.location.href);
              const params = new URLSearchParams(url.search);
              const pwd = params.get('pwd');
              const baseurl = await decrypt(this.encryptedUrl, pwd);
			  this.baseurl = baseurl;
			} catch(error) {
			  console.error('missing or invalid query parameter pwd\n' + error);
			}
		}
	  }
	});
  </script>
</body>
</html>
