html, body {
  font-family: verdana;
font-size: 12px;
}

input {
font-size: 16px;
}

h1 {
  font-size: 16px;
  margin-bottom: 5px;
}
object {
  height: 24px;
	margin-right: 10px;
}

.summary {
	display: inline-flex;
	align-items: center;

}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}


.tip {
	display: flex;
	margin-bottom: 5px;
}

.tip > div:first-child {
  width: 80px;
  font-weight: bold;
  margin-left: 8px;
}

.tip > div {
  margin-left: 16px;
}