html, body {
  font-family: verdana;
  font-size: 12px;
}

input {
  font-size: 16px;
}

h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
  margin-left: 4px;
  margin-top: 0px;
}

object {
  height: 32px;
  margin-right: 10px;
}

.summary {
  display: inline-flex;
  align-items: center;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.tip {
  display: flex;
  margin-bottom: 5px;
}

.tip > div:first-child {
  width: 100px;
  font-weight: bold;
  margin-left: 4px;
}

.tip > div {
  margin-left: 16px;
}